body {
  background: linear-gradient(217deg, rgb(246, 21, 152), rgba(255, 135, 235, 0.555) 70.71%),
  linear-gradient(127deg, rgba(255, 0, 43, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0, 255, 221, 0.8), rgb(0, 255, 255) 70.71%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
h1, h2 {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
