body {
  background: linear-gradient(217deg, rgb(246, 21, 152), rgba(255, 135, 235, 0.555) 70.71%),
  linear-gradient(127deg, rgba(255, 0, 43, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0, 255, 221, 0.8), rgb(0, 255, 255) 70.71%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
h1, h2 {
  color: whitesmoke;
}

.card, .btn {
  cursor: url(hearts.png), wait !important;
}

.ressucitate {
  color:  rgba(245, 17, 150, 0.8);
  font-size: 2em;
  font-weight: 800;
}

.ressucitate-btn {
  background-color: rgb(245, 17, 150);
}

.App-heart1 {
  animation: App-heart-spin infinite 5s linear;
  height: 40px;
}
.App-heart2 {
  animation: App-heart-antispin infinite 5s linear;
  height: 40px;
}

@keyframes App-heart-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-heart-antispin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
